@charset "UTF-8";

.aimg {
	float: left;
	border: #0054FF50 solid 3px;
	border-radius: 10px;
	margin: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20pt;
	box-shadow: #6B66FF 0px 0px 10px;
	text-align: center;
}

.aimg img{
	max-width: 300px;
	max-height: 220px;
	margin-top: 20px;
	box-shadow: #6B66FF 0px 0px 10px;
}


